.videoStyle {
  position: relative;
  top: 90px;
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Tablet screens (width up to 768px) */
@media screen and (max-width: 768px) {
  .videoStyle {
     width: 100%;
    height: 350px;
    top: 60px;

  }
}

/* Mobile screens (width up to 480px) */
@media screen and (max-width: 480px) {
  .videoStyle {
    height: 250px;
    top: 40px;
  }
}
